/**
 *
 * {{ properCase name }}
 *
 */
import React from 'react';

// InterFaces
import { I{{ properCase name }} } from './{{ properCase name }}'


export const {{ properCase name }}: React.FunctionComponent<I{{ properCase name }}.IProps> = () => {
  return (
    <div>
      <div> {{ name }} </div>
    </div>
  );
}

export default {{ properCase name }};
